/* Vertically center carousel captions */
.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.carousel-item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-indicators li {
  height: 10px;
}

.progress-popup {
  height:30px;
}
