<!-- templates/index.html -->
<html>
  <head>
    <title>Smart Bartender</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
  </head>
  <body>

    <div id="drinkCarousel" class="carousel slide" data-ride="carousel" data-interval=false data-keyboard="true">
      <ol class="carousel-indicators">

        <!-- generate the carousel indicators -->
        {% for drink in drinks_config %}
        <li data-target="#drinkCarousel" height=50
            data-slide-to="{{ loop.index - 1}}"
            {% if loop.index == 1 %}
              class="active"
            {% endif %} ></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner">

        <!-- create the actual carousels -->
        {% for drink in drinks_config %}
        <div class="carousel-item
            {% if loop.index == 1 %} active {% endif %}"
            data-drink-id="{{ drink.id }}"
            data-drink-delay={{ drink.duration }}></li>
          <img class="d-block w-100"
                data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text={{ drink.name }}"
                src="/static/images/{{ drink.image if drink.image else drink.id }}.jpg"
                data-holder-rendered="true">
          <div class="carousel-caption">
            <h1>{{ drink.name }}</h1>
            <p>{{ drink.ingredients_list }}</p>
          </div>
        </div>
        {% endfor %}

      </div>

      <!-- create hidden previous/next buttons -->
      <a class="carousel-control-prev d-none" href="#drinkCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next d-none" href="#drinkCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>

    <!-- drink making modal -->
    <div class="modal js-loading-bar">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title"></h3>
          </div>
          <div class="modal-body">
            <div class="progress progress-popup">
              <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    <!-- bootstrap boilerplate -->
    <script src="/static/scripts/jquery-3.4.1.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>

    <!-- bartender scripts -->
    <script src="/static/scripts/scripts.js"></script>
  </body>
</html>
